:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0.4em 0.2em;
  padding: 0.2em;
}
.centerContainer {
  display: flex;
  place-content: center;
}

.inputLine {
  display: flex;
  justify-content: space-between;
}
.inputLine label {
  margin-right: 0.2em;
}
.inputLine input {
  margin-left: 0.2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
